<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>编辑报告</title>
		<link rel="stylesheet" href="/src/less/addReport.css" />
		<style>
			.ke-icon-diyFormat {
				background: url("/src/lib/ueditor/themes/default/paiban.gif");
				width: 16px;
				height: 16px;
			}
			
			.ke-icon-reportFormat {
				background: url("/src/lib/ueditor/themes/default/paiban.gif");
				width: 16px;
				height: 16px;
			}
			
			.ke-icon-paging {
				background: url("/src/lib/ueditor/themes/default/fenye.gif");
				width: 16px;
				height: 16px;
			}
		</style>
	</head>

	<body>
		<div class="main">
			<form id="reportForm" action="/api/reports" method="post" name="reportForm">
				<table class="table">
					<tbody>
						<tr>
							<td width="100">所属行业(大)：</td>
							<td colspan="2">
								<select name="fristClass" class="form-control" id="fristClass"></select>
							</td>
							<td>所属行业(小)：</td>
							<td colspan="2">
								<select name="childClass" class="form-control" id="childClass"></select>
							</td>
							<td>报告地址：</td>
							<td colspan="5" width="1000"><input type="text" class="form-control" name="reportUrl" id="" value="" readonly="readonly" /></td>
						</tr>
						<tr>
							<td width="100">　报告标题：</td>
							<td colspan="5"><input type="text" class="form-control" name="subTitle" id="" value="" /></td>
							<td width="100">TITLE：</td>
							<td colspan="5"><input type="text" class="form-control" name="title" id="" value="" readonly="readonly" /></td>
						</tr>
						<tr>
							<td width="100">*报告核心词：</td>
							<td colspan="5"><input type="text" class="form-control" name="coreKeywords" id="" value="" oninput="setReportUrl(this)" /></td>
							<!--<td width="100">页内关键词：</td>-->
							<!--<td ><input type="hidden" class="form-control" name="subKeywords" id="" value="润滑油临氢降凝催化剂" /></td>-->
							<td>keywords：</td>
							<td colspan="5"><input type="text" placeholder="keywords与页内关键词合并" class="form-control" name="keywords" id="" value="" readonly="readonly" /></td>
						</tr>
						<tr>
							<td width="100">相关报告：</td>
							<td>
								<input type="text" readonly="readonly" class="relatedReport form-control" name="relatedReport" id="" value="" onmouseover="this.title=this.value"/>
								<a style="width:15px;text-align:center;color:#FFFFFF;border: 1px solid #ddd;background: green;line-height:28px;display: inline-block;height:28px;" data-toggle="modal" data-backdrop="static" data-target="#relatedReportsModal" href="#" title="选择相关报告">+</a>
							</td>
							<td width="100">最新修订：</td>
							<td><input type="text" class="form-control" name="latestRevision" id="" value="" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" /></td>
							<td>首次发布：</td>
							<td><input type="text" class="form-control" name="postTime" id="" value="" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" /></td>
							<td width="100">description：</td>
							<td colspan="5"><input type="text" class="form-control" name="description" id="" value="" readonly="readonly" /></td>
						</tr>
						<tr>
							<td width="100">双版本价格：</td>
							<td><input type="text" class="form-control" name="doubleVersion" id="" value="" /></td>
							<td width="100">电子版价格：</td>
							<td><input type="text" class="form-control" name="pdfPrice" id="" value="" /></td>
							<td width="100">纸介版价格：</td>
							<td><input type="text" class="form-control" name="entityPrice" id="" value="" /></td>
							<td width="100">报告主编：</td>
							<td>
								<select id="reportAuthor" name="reportAuthor" class="selectpicker show-tick" multiple data-live-search="false"></select>
							</td>

							<td width="100">交付方式：</td>
							<td><input type="text" class="form-control" name="deliveryMode" id="" value="" /></td>
							<td width="100">报告格式：</td>
							<td><input type="text" class="form-control" name="reportFormat" id="" value="" /></td>
						</tr>
						<tr>
							<td width="100">报告简介：</td>
							<td colspan="8"><textarea class="form-control" rows="5" name="reportSummary" id="reportSummary" /></textarea>
								<td><button type="submit" id="addNewsBtn" class="btn btn-md btn-success">更新</button><br/><br/><button class="btn btn-md btn-default" type="reset" onclick="$('#reportSummary').text('')">重置</button></td>
							</td>
						</tr>
						<tr>
							<td width="100">报告目录：</td>
							<td colspan="11"><textarea id="reportEdit" class="form-control" rows="8" name="reportCatalog" placeholder="报告目录" /></textarea>
							</td>
						</tr>
						<tr>
							<td></td>
							<td class="btnLeft" colspan="11"><button type="submit" id="addNewsBtn" class="btn btn-md btn-success">更新</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-md btn-default" type="reset" onclick="$('#reportSummary').text('')">重置</button></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		
		<!--相关报告选择模态框-->
		<div class="containers modal fade" id="relatedReportsModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<span data-dismiss="modal" class="close">&times;</span>
						<h5 class="modal-title text-danger">选择相关报告</h5>
					</div>
					<div class="modal-body">
						<input type="type" name="" id="" value="" class="form-control" placeholder="键入报告ID或关键词搜索" />
						<table class="table" id="relatedReportsList">
							<thead>
								<tr>
									<th>选择</th>
									<th>序号</th>
									<th>报告名称</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<script src="/src/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/js/bootstrap-select.min.js"></script>
		<script src="/src/lib/js/toPinYin.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/lib/My97DatePicker/WdatePicker.js" type="text/javascript" charset="utf-8"></script>
		<script src="/src/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script charset="utf-8" src="/src/lib/ueditor/kindeditor.js"></script>
		<script charset="utf-8" src="/src/lib/ueditor/lang/zh_CN.js"></script>
		<script charset="utf-8" src="/src/lib/ueditor/kEditorConfig.js"></script>
		<script type="text/javascript">
			$(function() {
				getSelectFill()
				fillAllInput({{reportId}})
				
				//相关报告模态框内容填充
				$("#relatedReportsModal").on("show.bs.modal", function() {
					var html = '',
						check = $('#reportForm input[name="relatedReport"]').val() || [];
					$.get(ajaxConfig.reportsList, function(res) {
						//如果有数据的情况
						res.forEach(function(v, i) {
							var tag = (check.length != 0 && check.indexOf(v.id.toString(), 0) != -1) ? 'checked="checked"' : '';
							html += '<tr><td><input type="checkbox" value="' + v.id + '" ' + tag + '/></td><td>' + v.id + '</td><td>' + v.subTitle + '</td></tr>';
						})
						$("#relatedReportsList tbody").empty().append(html)
					})

					if(check.length != 0) {
						check = check.split(',');
					}

					$("#relatedReportsModal").on("click", 'input[type="checkbox"]', function() {
						var _this = this;
						if(this.checked) {
							check.push(this.value)
						} else {
							check.forEach(function(v, i) {
								if(v == _this.value) {
									check = check._splice(i)
								}
							})
						}
						$('#reportForm input[name="relatedReport"]').val(check.join(','))
					})

				})
				
			})

			function getSelectFill() {
				//获取栏目数据填充
				$.get(ajaxConfig.reportClassList, function(reslut) {
					var html = '',
						childClassInit = '';
					reslut.forEach(function(val, ind) {
						if(val.id == {{firstClass}}) {
							val.child.forEach(function(v, i) {
								childClassInit += '<option value=' + v.id + '>' + v.sub_title + '</option>'
							})
						}
						html += '<option value=' + val.id + '>' + val.sub_title + '</option>'
					})
					$("#fristClass").empty().append(html).val({{firstClass}});
					$("#childClass").empty().append(childClassInit).val({{childClass}});

					//有数据后切换子分类
					$(".main").on('change', '#fristClass', function() {
						var fristId = $("#fristClass").find("option:selected").val(),
							childClassData = '';
						reslut.forEach(function(val, ind) {
							if(val.id == fristId) {
								val.child.forEach(function(v, i) {
									childClassData += '<option value=' + v.id + '>' + v.sub_title + '</option>'
								})
							}
						})
						$("#childClass").empty().append(childClassData);
					})			
				})
			}
			
			
			//提交表单
			$("#reportForm").validataForm({
					rules: {
						subTitle: "required",
						coreKeywords: "required",
						reportAuthor: "required",
						postTime: {
							required: true,
						},
						doubleVersion: {
							required: true,
							digits: true
						},
						pdfPrice: {
							required: true,
							digits: true
						},
						entityPrice: {
							required: true,
							digits: true
						}
					},
					messages: {
						reportAuthor: "报告主编必须填写",
						subTitle: "报告标题不能为空",
						coreKeywords: "核心关键词不能为空",
						postTime: {
							required: "日期必须填写",
						},
						doubleVersion: {
							required: "报告价格不能为空",
							digits: "报告价格必须为整数"
						},
						pdfPrice: {
							required: "报告价格不能为空",
							digits: "报告价格必须为整数"
						},
						entityPrice: {
							required: "报告价格不能为空",
							digits: "报告价格必须为整数"
						}
					}
				},
				function(e, form) {
					e.preventDefault();
					editor2.sync();
					var action = $(form).attr('action');
					var form = $(form).serializeObject();
					$.ajax({
						url: action+'/{{reportId}}',
						type: 'put',
						data: form,
						success: function(res,success) {
							if(success=='success')
							alert('更新成功!');
							window.location.reload();
						},
						error: function(err) {
							if(err) {
								alert(err.responseText)
							}
						}
					})
				})



			function fillAllInput(id) {
				$.get(ajaxConfig.reports + '/' + id, function(res) {
					console.log(res)
					$('input[name="reportUrl"]').val('/reports/'+res[0].report_url+'.html');
					$('input[name="subTitle"]').val(res[0].subTitle);
					$('input[name="coreKeywords"]').val(res[0].core_keywords);
					$('input[name="doubleVersion"]').val(res[0].double_version);
					$('input[name="title"]').val(res[0].title);
					$('input[name="keywords"]').val(res[0].keywords);
					$('input[name="description"]').val(res[0].description);
					$('input[name="subKeywords"]').val(res[0].subKeywords);
					$('input[name="deliveryMode"]').val(res[0].delivery_mode);
					$('input[name="reportFormat"]').val(res[0].report_format);
					$('input[name="pdfPrice"]').val(res[0].pdf_price);
					$('input[name="entityPrice"]').val(res[0].entity_price);
					$('input[name="postTime"]').val(formatDate(res[0].post_time));
					$('textarea[name="reportSummary"]').text(res[0].report_summary);
					$('input[name="relatedReport"]').val(res[0].related_report);
					//获取报告主编数据填充select
					$.get(ajaxConfig.boffinsList, function(res1) {
						res1.forEach(function(v, i) {
							$("<option value='"+v.id+"'>"+v.name+"</option>").appendTo("#reportAuthor")
						})
						$('#reportAuthor').val(res[0].report_author.split(','));
						$('#reportAuthor').selectpicker('refresh');

					})
					//填充目录
					editor2.html(res[0].report_catalog);
				})
			}

			function setReportUrl(_this) {
				$('input[name="reportUrl"]').val('/report/' + ConvertPinyin(_this.value) + '.html')
			}
		</script>
	</body>

</html>