{{#contentFor "cssStyle"}}<link href="/dist/article_class.css" rel="stylesheet" media="screen" type="text/css" />{{/contentFor}}
{{#contentFor "title"}}{{subTitle}}_中金产业_中金产业咨询网{{/contentFor}}
{{#contentFor "keywords"}}{{keywords}}{{/contentFor}}
{{#contentFor "description"}}{{description}}{{/contentFor}}
{{#contentFor "NavConn"}}
	<li>
			<a href="/">首页</a>
	</li>
	{{#each conNav}}
	<li>
			<a href="/">{{subTitle}}</a>
	</li>
	{{/each}}
{{/contentFor}}
{{>head_article}} 
<div class="plan">
				<div class="left">
					<ul class="crumbs" id="crumbs">
						<li>
							<a href="/"><img src="http://n.sinaimg.cn/780c44e8/20150702/logo_fnc.png" /></a>
						</li>
						<li>
							<a href="/{{crumbs.0.directoryName}}/{{crumbs.0.id}}">{{crumbs.0.subTitle}}</a>
						</li>
						<li>
							<a href="/{{crumbs.0.directoryName}}/{{crumbs.1.directoryName}}/{{crumbs.1.id}}">{{crumbs.1.subTitle}}</a>
						</li>
					</ul>
				</div>
			</div>
			
		<div class="main">
			<div class="nav">
				<ul>
					<li>
						<a href="/{{crumbs.0.directoryName}}/{{crumbs.0.id}}">首页</a>
					</li>
					{{#each classNav}}
					<li>
						<a href="../{{crumbs.0.directoryName}}{{directoryName}}/{{id}}">{{subTitle}}</a>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="content">
				<div class="leftBox">
					<ul class="newslist">
						{{#each classNewsList}}
						<li>
							<h3 class="title"><a href="/{{newsUrl}}" target="_blank">{{subTitle}}</a></h3>
							<div class="dec">
								<a href="/{{newsUrl}}" target="_blank">{{nContentStr nContent}}...</a>
							</div>
							</li>
						{{/each}}
					</ul>
				</div>
				<div class="right">
					<img src="http://d8.sina.com.cn/pfpghc2/201612/31/427c8c37e06046e492752ba53a40e216.jpg" />
				</div>
			</div>
		</div>
		{{>footer_article}}