 {{#contentFor "cssStyle"}}
<link href="/dist/css/article_channel.css" rel="stylesheet" media="screen" type="text/css" />
{{/contentFor}}
{{#contentFor "title"}}{{subTitle}}_中金产业_中金产业咨询网{{/contentFor}} 

{{#contentFor "keywords"}}{{keywords}}{{/contentFor}} 
{{#contentFor "description"}}{{description}}{{/contentFor}}
{{!公共头部菜单}}
{{#contentFor "NavConn"}}
<li>
	<a href="/">首页</a>
</li>
{{#each navbarMenu}}
<li>
	<a href="/{{directoryName}}/">{{subTitle}}</a>
</li>
{{/each}} 
{{/contentFor}} 
{{>head_article}}

<div class="plan">
	<div class="left">
		<ul class="crumbs" id="crumbs">
			<li>
				<a href="/"><img src="/images/logo_fnc.jpg" /></a>
			</li>
			<li>
				<a href="/{{directoryName}}/">{{subTitle}}</a>
			</li>
		</ul>
	</div>
</div>

<div class="main">
	<div class="nav">
		<ul>
			<li>
				<a href="/{{directoryName}}/"><strong>{{subTitle}}</strong></a>
			</li>
			{{#each menus.child}}
			<li>
				<a href="{{directoryName}}/">{{subTitle}}</a>
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="content">
		<div class="leftBox">
			{{#if_channelSlide subTitle}}
			{{#if_channelSlideIn subTitle '商业'}}
					{{>channel-slide-shangye}}
				{{/if_channelSlideIn}}
				{{#if_channelSlideIn subTitle '宏观'}}
					{{>channel-slide-hongguan}}
				{{/if_channelSlideIn}}
				{{#if_channelSlideIn subTitle '产业'}}
					{{>channel-slide-chanye}}
				{{/if_channelSlideIn}}
				{{#if_channelSlideIn subTitle '汽车'}}
					{{>channel-slide-qiche}}
				{{/if_channelSlideIn}}
				{{#if_channelSlideIn subTitle '金融'}} 
					{{>channel-slide-jinrong}} 
				{{/if_channelSlideIn}} 
				{{#if_channelSlideIn subTitle '证券'}} 
					{{>channel-slide-zhengquan}}
				{{/if_channelSlideIn}} 
				{{#if_channelSlideIn subTitle '生活'}} 
					{{>channel-slide-life}}
				{{/if_channelSlideIn}} 
				{{#if_channelSlideIn subTitle '科技'}} 
					{{>channel-slide-keji}}
				{{/if_channelSlideIn}} 
			{{else}}
				{{>channel-slide}}
			{{/if_channelSlide}}
			<div class="left2">
				{{#each constantlyNews}}
					{{#ifTop 1 @index}}
				<h2><a href="/{{newsUrl}}" target="_blank" title="{{subTitle}}">{{subTitle}}</a></h2>
					{{/ifTop}} 
				{{/each}}
				<ul class="list01 u-list-center" data-client="scroll">
					{{#each constantlyNews}} {{#ifRemoveTop 1 @index}}
					<li>
						<a target="_blank" href="/{{newsUrl}}" title="{{subTitle}}">{{subTitle}}</a>
					</li>
					{{/ifRemoveTop}} {{/each}}
				</ul>
			</div>
			<!--图片分割-->
			<div class="channel-ad-001"></div>
			{{#each classBlock.child}}
			<div class="left3">
				<h3>{{subTitle}}<a href="{{directoryName}}/{{id}}"><span class="more rf">更多...&nbsp;</span></a></h3>
				<ul class="list01 u-list-center" data-client="scroll">
					{{#each ../classBlockNews}} 
					{{#if_newsDetails ../id classChildId}}
					<li>
						<a target="_blank" href="/{{newsUrl}}" title="{{subTitle}}">{{subTitle}}</a>
					</li>
					{{/if_newsDetails}}
					{{/each}}
				</ul>
			</div>
			{{/each}}
		</div>
		<div class="right">
			<img src="http://d8.sina.com.cn/pfpghc2/201612/31/427c8c37e06046e492752ba53a40e216.jpg" />
		</div>
	</div>
</div>
{{>footer_article}}
{{#contentFor "footJs"}}
<script src="/dist/lib/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
{{/contentFor}} 
{{#contentFor "businessCode"}} {{#if_businessCode subTitle}}{{/if_businessCode}}{{/contentFor}}