{{#contentFor "cssStyle"}}<link href="/dist/article_class.css" rel="stylesheet" media="screen" type="text/css" />{{/contentFor}}
{{#contentFor "title"}}{{subTitle}}_中金产业_中金产业咨询网{{/contentFor}}
{{#contentFor "keywords"}}{{keywords}}{{/contentFor}}
{{#contentFor "description"}}{{description}}{{/contentFor}}
{{#contentFor "NavConn"}}
	<li>
			<a href="/">首页</a>
	</li>
	{{#each navbarMenu}}
	<li>
			<a href="/{{directoryName}}/{{id}}">{{subTitle}}</a>
	</li>
	{{/each}}
{{/contentFor}}
{{>head_article}}
<div class="plan">
				<div class="left">
					<ul class="crumbs" id="crumbs">
						<li>
							<a href="/"><img src="/images/logo_fnc.jpg" /></a>
						</li>
						<li>
							<a href="/{{menus.directoryName}}/{{menus.id}}">{{menus.subTitle}}</a>
						</li>
						<li>
							<a href="../{{crumbs.directoryName}}/{{crumbs.id}}">{{crumbs.subTitle}}</a>
						</li>
					</ul>
				</div>
			</div>
			
		<div class="main">
			<div class="nav">
				<ul>
					<li>
						<a href="/{{menus.directoryName}}/{{menus.id}}"><strong>{{menus.subTitle}}</strong></a>
					</li>
					{{#each menus.child}}
					<li>
						<a href="../{{directoryName}}/{{id}}">{{subTitle}}</a>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="content">
				<div class="leftBox">
					<ul class="newslist">
						{{#each classNewsList}}
						<li>
							<h3 class="title"><a href="/{{newsUrl}}" target="_blank">{{subTitle}}</a></h3>
							<div class="dec">
								<a href="/{{newsUrl}}" target="_blank">{{classNewsDescription nContent}}...</a>
							</div>
							</li>
						{{/each}}
					</ul>
					<ul class="pagination">
					<li><a href="/">上一页</a></li>
					<li><a href="/">1</a></li>
					<li><a href="/">2</a></li>
					<li><a href="/">3</a></li>
				<li><a href="/">下一页</a></li>
				</ul>
				</div>
				<div class="right">
					<img src="http://d8.sina.com.cn/pfpghc2/201612/31/427c8c37e06046e492752ba53a40e216.jpg" />
				</div>
			</div>
		</div>
		{{>footer_article}}