{{#contentFor "cssStyle"}}
<link href="/dist/css/index.css" rel="stylesheet" media="screen" type="text/css" /> {{/contentFor}} {{#contentFor "title"}}中金产业咨询网-中金产业公司网站-领先的产业研究与产业战略咨询机构-投资咨询|投资网 产业规划_园区规划_招商策划{{/contentFor}} {{#contentFor "keywords"}}产业规划,招商策划，园区规划{{/contentFor}} {{#contentFor "description"}}中金产业咨询(http://ciccindustry.com)是中国权威的咨询机构和政府产业咨询顾问,业务范围覆盖招商策划,产业规划,区域产业规划,可行性研究报告,城镇规划,产业竞争情报,项目建议书,产业园区规划，招商代理。{{/contentFor}}
<div class="navbox">
	<div class="navTop">
		<span class="left">你好,欢迎来到中金产业咨询网!</span>
		<div class="right">
			<ul>
				<li class="red">
					<a href="javascript:void(0)">最新报告</a>
				</li>
				<li class="red">
					<a href="javascript:void(0)">行业研究报告</a>
				</li>
				<li>
					<a href="javascript:void(0)">设为首页</a>
				</li>
				<li>
					<a href="javascript:void(0)">收藏夹</a>
				</li>
				<li>
					<a href="javascript:void(0)">帮助中心</a>
				</li>
				<li>
					<a href="javascript:void(0)">联系我们</a>
				</li>
				<li>
					<a href="javascript:void(0)">服务项目</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="header-search">
	<a class="lf" href="javascript:void(0)"><img src="images/logo.gif" alt="logo" /></a>
	<div class="searchBox lf">
		<div class="search">
			<form action="#">
				<input type="text" />
				<input type="button" value="搜索" />
			</form>
		</div>
		<div class="hot_words">
			<a href="#">大数据</a>
			<a href="#">无人机</a>
			<a href="#">养老产业</a>
			<a href="#">虚拟现实</a>
			<a href="#">智慧城市</a>
			<a href="#">民营银行</a>
			<a href="#">互联网+</a>
			<a href="#">移动支付</a>
			<a href="#" class="why">为什么选择我们?</a>
		</div>
	</div>
	<div class="tel rf">
		<ul>
			<li class="tip">全国服务热线:</li>
			<li class="tel">400 402 1212</li>
			<li class="title">中国首选研究报告市场!</li>
		</ul>
	</div>
</div>

<nav class="nav">
	<ul class="navMenu">
		<li>
			<a href="/reports/">行业报告</a>
		</li>
		<li>
			<a href="#">研究院</a>
		</li>
		<li>
			<a href="#">数据中心</a>
		</li>
		<li>
			<a href="#">产经</a>
		</li>
		<li>
			<a href="#">高端峰会</a>
		</li>
		<li>
			<a href="#">投资咨询</a>
		</li>
		<li>
			<a href="#">市场调研</a>
		</li>
		<li>
			<a href="#">政府规划</a>
		</li>
		<li>
			<a href="#">招商代理</a>
		</li>
		<li>
			<a href="#">园区运营</a>
		</li>
	</ul>
	<ul class="nav-sub">
		<li>
			<a href="/chanye/" class="strong">产业</a>
		</li>
		<li>
			<a href="/chanye/zhengce/" target="_blank">政策</a>
		</li>
		<li>
			<a href="/chanye/yuce/" target="_blank">预测</a>
		</li>
		<li>
			<a href="/hongguan/" class="strong" target="_blank">宏观</a>
		</li>
		<li>
			<a href="/hongguan/dongtai/" target="_blank">动态</a>
		</li>
		<li>
			<a href="/hongguan/baogao/" target="_blank">报告</a>
		</li>
		<li>
			<a href="/jinrong/" class="strong">金融</a>
		</li>
		<li>
			<a href="/jinrong/bank/" target="_blank">银行</a>
		</li>
		<li>
			<a href="/jinrong/baoxian/" target="_blank">保险</a>
		</li>
		<li>
			<a href="/zhengquan/" class="strong" target="_blank">证券</a>
		</li>
		<li>
			<a href="/zhengquan/xingu/" target="_blank">新股</a>
		</li>
		<li>
			<a href="/zhengquan/gegu/" target="_blank">个股</a>
		</li>
		<li>
			<a href="/keji/" class="strong" target="_blank">科技</a>
		</li>
		<li>
			<a href="/keji/AI/" target="_blank"> AI</a>
		</li>
		<li>
			<a href="/keji/yidonghulian/" target="_blank">互联网+</a>
		</li>
		<li>
			<a href="/shangye/" class="strong" target="_blank">商业</a>
		</li>
		<li>
			<a href="/shangye/chuangye/" target="_blank">创业</a>
		</li>
		<li>
			<a href="/shangye/renwu/" target="_blank">人物</a>
		</li>
		<li>
			<a href="/qiche/" class="strong" target="_blank">汽车</a>
		</li>
		<li>
			<a href="/qiche/xinche/" target="_blank">新车</a>
		</li>
		<li>
			<a href="/qiche/pingce/" target="_blank">评测</a>
		</li>
		<li>
			<a href="/shenghuo/" class="strong" target="_blank">生活</a>
		</li>
		<li>
			<a href="/shenghuo/yingshi/" target="_blank">影视</a>
		</li>
		<li>
			<a href="/shenghuo/youxi/" target="_blank">游戏</a>
		</li>
	</ul>
</nav>

<!--主体 报告树-->
<section class="section" id="section">
	<div class="section-left lf" id="section-left">
		<span class="section-left-ico">行业研究报告</span>
		<ul>
			{{#each reportTree}}
			<li>
				<h3>{{#each this}}{{#reportTreeSeparator @index}}{{/reportTreeSeparator}}{{#reportTreeFilterCharacter @index}}<a href="/reports/{{reports_directory}}/">{{sub_title}}</a>{{/reportTreeFilterCharacter}}{{/each}}</h3>
				<div class="sectionSubContent" id="sectionSubContent">
					<div id="sectionLeftContent" class="sectionLeftContent">
						{{#each this}} 
						<dl class="smallIndustry">
							<dt><em><a href="/reports/{{reports_directory}}/">{{sub_title}}</a></em></dt>
							<dd>
							{{#reportTreeChildClassCompare this}}
									{{#each this.child}}
									<em><a href="/reports/{{reports_directory}}/">{{sub_title}}</a></em>
									{{/each}}
									{{else}}
									{{#each this.data}}
										<em><a href="/reports/{{report_url}}.html" target="_blank">{{core_keywords}}</a></em>
									{{/each}}
							{{/reportTreeChildClassCompare}}
							</dd>
						</dl>
						{{/each}}
					</div>
					<div class="subContent rf" id="subContent">
						<h4><b>推荐报告</b></h4>
						<ul>
							<li>
								<a href="#">石油研究报告</a>
							</li>
							<li>
								<a href="#">石化研究报告</a>
							</li>
							<li>
								<a href="#">石油天然气研究报告</a>
							</li>
							<li>
								<a href="#">柴油研究报告</a>
							</li>
							<li>
								<a href="#">机油研究报告</a>
							</li>
							<li>
								<a href="#">页岩气研究报告</a>
							</li>
							<li>
								<a href="#">其他研究报告</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>

	</div>
	<div class="section-right lf">
		<div class="hotBox">
			<h1><a href="{{homeHeadlines.[1]}}" target="_blank" title="{{homeHeadlines.[0]}}">{{homeHeadlines.[0]}}</a></h1>
			<ul>
				<li>
					<a href="{{homeHeadlines.[3]}}" target="_blank" title="{{homeHeadlines.[2]}}">{{homeHeadlines.[2]}}</a>
				</li>
				<li>
					<a href="{{homeHeadlines.[5]}}" target="_blank" title="{{homeHeadlines.[4]}}">{{homeHeadlines.[4]}}</a>
				</li>
				<li>
					<a href="{{homeHeadlines.[7]}}" target="_blank" title="{{homeHeadlines.[6]}}">{{homeHeadlines.[6]}}</a>
				</li>
				<li>
					<a href="{{homeHeadlines.[9]}}" target="_blank" title="{{homeHeadlines.[8]}}">{{homeHeadlines.[8]}}</a>
				</li>
				<li>
					<a href="{{homeHeadlines.[11]}}" target="_blank" title="{{homeHeadlines.[10]}}">{{homeHeadlines.[10]}}</a>
				</li>
				<li>
					<a href="{{homeHeadlines.[13]}}" target="_blank" title="{{homeHeadlines.[12]}}">{{homeHeadlines.[12]}}</a>
				</li>
			</ul>
		</div>
		<div class="bannerBox" id="bannerBox">
			<a href="#" class="left" id="pre"></a>
			<ul id="pictures">
				<li>
					<a href="#"><img src="http://n.sinaimg.cn/finance/20161025/A3VI-fxwztru7105348.png" alt="第1张图片" /></a>
				</li>
				<li>
					<a href="#"><img src="http://n.sinaimg.cn/finance/transform/20161026/AQ7d-fxwztrt0464358.jpg" alt="第2张图片" /></a>
				</li>
				<li>
					<a href="#"><img src="http://n.sinaimg.cn/finance/transform/20161026/jK-u-fxwztrw3832731.jpg" alt="第3张图片" /></a>
				</li>
				<li>
					<a href="#"><img src="http://n.sinaimg.cn/finance/transform/20161026/q6gX-fxwztrt0462548.jpg" alt="第4张图片" /></a>
				</li>
				<li>
					<a href="#"><img src="http://i3.sinaimg.cn/cj/zl/china/idx/2014/0606/U10971P31T879D220F27039DT20140606162810.jpg" alt="第5张图片" /></a>
				</li>
			</ul>
			<div class="bannerText" id="bannerText">
				<div class="marsk">
					<div class="text">新闻加载中...</div>
				</div>
				<div id="jump" class="jump">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<a href="#" class="right" id="next"></a>
		</div>
		<div class="trendNews">
			<ul>{{{ads_exclusiveData.adContent}}}</ul>
		</div>
	</div>
</section>
<section class="sectionMain">
	<div class="main">
		<!--mainLeft-->
		<div class="mainLeftBox lf">
			<div class="index-ad-001"></div>
			<div class="content">
				<div class="yaowen lf">
					<h4 class="title">要闻<span class="more"><a href="/chanye/62" target="_blank">更多</a></span></h4>
					<ul>
						{{#each yaowen}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="redian lf">
					<h4 class="title">产业热点<span class="more"><a href="/chanye/redian/69" target="_blank">更多</a></span></h4>
					<div class="newImg">
						{{{ads_hotspot.adContent}}}
					</div>
					<ul class="newList">
						{{#each chanyeredian}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="yaowen lf">
					<h4 class="title">宏观<span class="more"><a href="/hongguan/73" target="_blank">更多</a></span></h4>
					<ul>
						{{#each hongguan}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="redian lf">
					<h4 class="title">产业预测<span class="more"><a href="/chanye/yuce/67" target="_blank">更多</a></span></h4>
					<div class="reportImg">
						<ul>
							{{{ads_tipster.adContent}}}
						</ul>
					</div>
					<ul class="newList">
						{{#each chanyeyuce}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<!--第二位图-->
			<div class="index-ad-002"></div>
			<div class="content">
				<div class="jinrong lf">
					<h4 class="title">金融<span class="more"><a href="/jinrong/27"  target="_blank">更多</a></span></h4>
					<ul>
						{{#each jinrong}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="redian lf">
					<h4 class="title">投资机会<span class="more"><a href="/chanye/jihui/71" target="_blank">更多</a></span></h4>
					<div class="jihuiImg">
						<ul>
							{{#each chanyejihui}}
							<li>
								<h5><span  class="fa fa-exclamation-circle"></span><a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a></h5>
								<p>{{subTitle}}</p>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="zhengquan lf">
					<h4 class="title">证券<span class="more"><a href="/zhengquan/4" target="_blank">更多</a></span></h4>
					<ul>
						{{#each zhengquan}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="jihui lf">
					<h4 class="title">策略<span class="more"><a href="/zhengquan/" target="_blank">更多</a></span></h4>
					<div class="newImg">
						<a href="/zhengquan/" target="_blank"><img title="上证指数实时行情" src="http://image.sinajs.cn/newchart/hollow/small/nsh000001.gif?1477556616548" width="250" height="124" /></a>
						<h5><a href="{{zhengquancelue.[0].newsurl}}" target="_blank">{{zhengquancelue.[0].subTitle}}</a></h5>
						<p>
							<a href="{{zhengquancelue.[0].newsurl}}" target="_blank">中金产业证券策略栏目每日实时更新股票行情。通过股票交易研究员的精湛分析，为您股海驰骋注入动力...</a>
						</p>
					</div>
					<ul class="newList">
						{{#each zhengquancelue}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<!--第三位图-->
			<div class="index-ad-003"></div>
			<div class="content">
				<div class="yaowen lf">
					<h4 class="title">科技<span class="more"><a href="/keji/55" target="_blank">更多</a></span></h4>
					<ul>
						{{#each keji}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="redian lf">
					<h4 class="title">热门峰会<span class="more"><a href="#">更多</a></span></h4>
					<div class="meetingImg">
						<ul>{{!ads_summitMeeting.adContent}}
						<li><a href="#"><img src="http://www.ocn.com.cn/Upload/userfiles/cy0.jpg" width="250" height="50"></a><p>大西安国际海绵城市建设发展博览会</p></li>
						<li><a href="#"><img src="http://www.ocn.com.cn/Upload/userfiles/ocnbtz.gif" width="250" height="50"></a><p>大西安国际海绵城市建设发展博览会</p></li>
						<li><a href="#"><img src="http://www.ocn.com.cn/Upload/userfiles/jx.gif" width="250" height="50"></a><p>大西安国际海绵城市建设发展博览会</p></li>
						<li><a href="#"><img src="http://www.ocn.com.cn/Upload/userfiles/bj.gif" width="250" height="50"></a><p>大西安国际海绵城市建设发展博览会</p></li>
						</ul>
					</div>
					<ul class="newList">
						<li>
							<a href="#">《中国银行业理财市场报告(2016上半年)》发布</a>
						</li>
						<li>
							<a href="#">《2016年全球性别差距报告》男女经济机会不平等扩大</a>
						</li>
						<li>
							<a href="#">全国饭店行业“营改增”政策红利开始</a>
						</li>
						<li>
							<a href="#">中国华电集团成为首家编制碳排放专项</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="yaowen lf">
					<h4 class="title">商业<span class="more"><a href="/shangye/31" target="_blank">更多</a></span></h4>
					<ul>
						{{#each shangye}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="jihui lf">
					<h4 class="title">招商<span class="more"><a href="/chanye/zhaoshang/72" target="_blank">更多</a></span></h4>
					<div class="newImg">
						{{{ads_attractInvestment.adContent}}}
					</div>
					<ul class="newList">
						{{#each chanyezhaoshang}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<!--第四位图-->
			<div class="index-ad-004"></div>
			<div class="content">
				<div class="yaowen lf">
					<h4 class="title">汽车<span class="more"><a href="/qiche/2" target="_blank">更多</a></span></h4>
					<ul>
						{{#each qiche}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="jihui lf">
					<h4 class="title">公司<span class="more"><a href="/chanye/gongsi/66" target="_blank">更多</a></span></h4>
					<div class="newImg">{{{ads_company.adContent}}}</div>
					<ul class="newList">
						{{#each chanyegongsi}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="yaowen lf">
					<h4 class="title">生活<span class="more"><a href="/shenghuo/82" target="_blank">更多</a></span></h4>
					<ul>
						{{#each shenghuo}}
						<li>
							<a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="redian lf">
					<h4 class="title">预警<span class="more"><a href="/chanye/yujing/68" target="_blank">更多</a></span></h4>
					<div class="warningImg">
						<ul>
							{{#each chanyeyujing}}
							<li>
								<h5><span  class="fa fa-exclamation-circle"></span><a href="{{newsurl}}" title="{{subTitle}}" target="_blank">{{subTitle}}</a></h5>
								<p>{{subTitle}}</p>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--mainRihgt-->
		<div class="mainRightBox rf">
			<div class="content">
				<div class="paihangbang lf">
					<ul class="title" id="ph">
						<li>
							<h4 class="current"><a href="#">周排行</a></h4></li>
						<li>
							<h4><a href="#">月排行</a></h4></li>
					</ul>
					<ul class="newsListWeek" id="newsListWeek">
						<li>
							<a href="#"><img src="images/banner-1.jpg" width="70" height="70" /></a>
							<h5><a href="#">周云计算市场风起云涌周云计算市场风起云涌</a></h5>
							<p>
								<a href="#">阿里云为扩大市场份额疯阿里,阿里云为扩大市场份额疯,云为扩大市场份额疯...</a>
							</p>
						</li>
						<li>
							<a href="#">全国饭店行业“营改增”政策红利开始显现</a>
						</li>
						<li>
							<a href="#">中国华电集团成为首家编制碳排放专项规划央企</a>
						</li>
						<li>
							<a href="#">售电公司参与电力市场交易 请吃透这些注意事项</a>
						</li>
						<li>
							<a href="#">京港澳高速公交道半月平均提速约65%</a>
						</li>
						<li>
							<a href="#">天津自贸区对外投资持续倍增 占全市比重超8成</a>
						</li>
						<li>
							<a href="#">中美可持续城镇化合作项目在京落地</a>
						</li>
						<li>
							<a href="#">全国饭店行业“营改增”政策红利开始显现</a>
						</li>
						<li>
							<a href="#">中国华电集团成为首家编制碳排放专项规划央企</a>
						</li>
						<li>
							<a href="#">云计算市场风起云涌 阿里云为扩大市场份额疯狂</a>
						</li>
						<li>
							<a href="#">售电公司参与电力市场交易 请吃透这些注意事项</a>
						</li>
					</ul>
					<ul class="newsListMonth" id="newsListMonth" style="display: none;">
						<li>
							<a href="#"><img src="images/banner-1.jpg" width="70" height="70" /></a>
							<h5><a href="#">铜冠金源:美豆走出阴霾 豆油跨月正套</a></h5>
							<p>
								<a href="#"> 10月USDA供需报告显示,美国2016/17年度美豆单产预估为51.4蒲式耳/英亩,总产量...</a>
							</p>
						</li>
						<li>
							<a href="#">浦上大道改造工程项目建议书获批 计划明年9月通车</a>
						</li>
						<li>
							<a href="#">新浪财经晚报:10月27日晚间影响市场消息汇总</a>
						</li>
						<li>
							<a href="#">美国初请和9月订单数据均差于预期 美指平淡黄金微升</a>
						</li>
						<li>
							<a href="#">路透调查显示:人民币空头创近10个月高位</a>
						</li>
						<li>
							<a href="#">人民币小幅下挫 交投活跃至1月7日来新高</a>
						</li>
						<li>
							<a href="#">恒生银行:10月27汇市及金市要闻</a>
						</li>
						<li>
							<a href="#">第四届德国电影节11月开幕 共造艺术电影月</a>
						</li>
						<li>
							<a href="#">成都女子离家1个月 回家发现房子已属他人(图)</a>
						</li>
						<li>
							<a href="#">云计算市场风起云涌 阿里云为扩大市场份额疯狂</a>
						</li>
						<li>
							<a href="#">10月27日黄金晨报:多空鏖战200日均 短期料继续震荡</a>
						</li>
					</ul>
				</div>
			</div>
			<!--图片分割-->
			<div class="index-ad-005"></div>
			<!--数据中心-->
			<div class="content">
				<div class="dataCenter lf">
					<ul class="title">
						<li>
							<h4><a href="#">数据中心</a><span><a href="#">更多...</a></span></h4></li>
					</ul>
					<ul class="dataNewsList">
						<li>
							<a href="#"><img src="images/banner-1.jpg" width="70" height="70" /></a>
							<h5><a href="#">周云计算市场风起云涌周云计算市场风起云涌</a></h5>
							<p>
								<a href="#">阿里云为扩大市场份额疯阿里,阿里云为扩大市场份额疯,云为扩大市场份额疯...</a>
							</p>
						</li>
						<li><i>1</i>
							<a href="#">全国饭店行业“营改增”政策红利开始显现</a>
						</li>
						<li><i>2</i>
							<a href="#">中国华电集团成为首家编制碳排放专项规划央企</a>
						</li>
						<li><i>3</i>
							<a href="#">售电公司参与电力市场交易 请吃透这些注意事项</a>
						</li>
						<li><i>4</i>
							<a href="#">京港澳高速公交道半月平均提速约65%</a>
						</li>
						<li><i>5</i>
							<a href="#">天津自贸区对外投资持续倍增 占全市比重超8成</a>
						</li>
						<li><i>6</i>
							<a href="#">中美可持续城镇化合作项目在京落地</a>
						</li>
						<li><i>7</i>
							<a href="#">全国饭店行业“营改增”政策红利开始显现</a>
						</li>
						<li><i>8</i>
							<a href="#">中国华电集团成为首家编制碳排放专项规划央企</a>
						</li>
						<li><i>9</i>
							<a href="#">云计算市场风起云涌 阿里云为扩大市场份额疯狂</a>
						</li>
						<li><i>10</i>
							<a href="#">售电公司参与电力市场交易 请吃透这些注意事项</a>
						</li>
					</ul>
				</div>
			</div>
			<!--热门关键词-->
			<div class="content">
				<div class="hotKey lf">
					<ul class="title">
						<li>
							<h4><a href="#">热门关键词</a><span><a href="#">更多...</a></span></h4></li>
					</ul>
					<div id="hotKey">
						<a href="#" target="_blank">二次元</a>
						<a href="#" target="_blank">医养结合模式</a>
						<a href="#" target="_blank">智慧医疗</a>
						<a href="#" target="_blank">中国制造2025</a>
						<a href="#" target="_blank">数据中国</a>
						<a href="#" target="_blank">虚拟现实</a>
						<a href="#" target="_blank">无人驾驶汽车</a>
						<a href="#" target="_blank">5G</a>
						<a href="#" target="_blank">人工智能</a>
						<a href="#" target="_blank">充电桩</a>
						<a href="#" target="_blank">绿色建材</a>
						<a href="#" target="_blank">足球产业</a>
						<a href="#" target="_blank">智能装备</a>
						<a href="#" target="_blank">众筹行业</a>
						<a href="#" target="_blank">电子竞技</a>
						<a href="#" target="_blank">太阳能光伏</a>
						<a href="#" target="_blank">一带一路</a>
						<a href="#" target="_blank">民营银行申请</a>
						<a href="#" target="_blank">休闲食品</a>
						<a href="#" target="_blank">产业规划</a>
						<a href="#" target="_blank">体育产业</a>
						<a href="#" target="_blank">养老地产</a>
						<a href="#" target="_blank">机械行业</a>
						<a href="#" target="_blank">化妆品</a>
						<a href="#" target="_blank">3D打印</a>
						<a href="#" target="_blank">物联网</a>
						<a href="#" target="_blank">快时尚服装</a>
						<a href="#" target="_blank">基因检测</a>
						<a href="#" target="_blank">电动汽车充换电站</a>
						<a href="#" target="_blank">大健康</a>
						<a href="#" target="_blank">循环经济园区</a>
						<a href="#" target="_blank">生态修复</a>
						<a href="#" target="_blank">静脉园区</a>
						<a href="#" target="_blank">智能交通</a>
						<a href="#" target="_blank">机器人</a>
						<a href="#" target="_blank">生态农业</a>
						<a href="#" target="_blank">新能源汽车</a>
						<a href="#" target="_blank">新材料</a>
						<a href="#" target="_blank">生物制药</a>
						<a href="#" target="_blank">动漫</a>
						<a href="#" target="_blank">主题酒店</a>
						<a href="#" target="_blank">页岩气</a>
						<a href="#" target="_blank">网络文学</a>
						<a href="#" target="_blank">冷链物流</a>
						<a href="#" target="_blank">旅游地产</a>
						<a href="#" target="_blank">物流园区</a>
						<a href="#" target="_blank">电影</a>
						<a href="#" target="_blank">可行性研究报告</a>
						<a href="#" target="_blank">职业教育</a>
						<a href="#" target="_blank">锂电池</a>
						<a href="#" target="_blank">文化产业</a>
						<a href="#" target="_blank">集成电路</a>
						<a href="#" target="_blank">垃圾处理</a>
						<a href="#" target="_blank">环保产业</a>
						<a href="#" target="_blank">中药饮片</a>
						<a href="#" target="_blank">包装印刷</a>
						<a href="#" target="_blank">再生金属</a>
						<a href="#" target="_blank">医疗器械</a>
						<a href="#" target="_blank">影视产业</a>
						<a href="#" target="_blank">可再生能源</a>
					</div>
				</div>
			</div>
			<!--投资专题-->
			<div class="content">
				<div class="special lf">
					<ul class="title">
						<li>
							<h4><a href="#">投资专题</a><span><a href="#">更多...</a></span></h4></li>
					</ul>
					<div id="specialImg" class="specialImg">
						<a href="#" target="_blank"><img src="http://n.sinaimg.cn/finance/20161012/23IO-fxwrhpn9757117.jpg" alt="" /></a>
						<a href="#" target="_blank"><img src="http://n.sinaimg.cn/finance/20161028/pJfI-fxxfyez2172537.jpg" alt="" /></a>
						<a href="#" target="_blank"><img src="http://n.sinaimg.cn/finance/20161028/Nl3T-fxxfyez2172591.jpg" alt="" /></a>
						<a href="#" target="_blank"><img src="http://n.sinaimg.cn/finance/20161012/23IO-fxwrhpn9757117.jpg" alt="" /></a>
						<a href="#" target="_blank"><img src="http://n.sinaimg.cn/finance/20161028/BGuL-fxxfyex5397872.jpg" alt="" /></a>
					</div>
				</div>
			</div>
			<!--中智观点-->
			<div class="content">
				<div class="viewpoint lf">
					<ul class="title">
						<li>
							<h4><a href="#">中智观点</a><span><a href="#">更多...</a></span></h4></li>
					</ul>
					<ul class="viewpointNewsList">
						<li>
							<a href="#"><img src="http://img3.qianzhan123.com/analyst/photos/1708_180x180.gif" width="70" height="70" /></a>
							<h5><a href="#">周云计算市场风起云涌周云计算市场风起云涌</a></h5>
							<p>
								<a href="#">徐志祥</a>
							</p>
						</li>
						<li><i class="fa fa-comment"></i>
							<a href="#">石墨烯或将入选十三五规划 探寻行业现状</a>
						</li>
						<li><i class="fa fa-comment"></i>
							<a href="#">网络安全获互联网大会关注</a>
						</li>
						<li><i class="fa fa-comment"></i>
							<a href="#">在线教育热度不减 行业高速增长依然可期</a>
						</li>
						<li><i class="fa fa-comment"></i>
							<a href="#">传统产业园区发展遭遇瓶颈 智慧园区建设成趋</a>
						</li>
						<li><i class="fa fa-comment"></i>
							<a href="#">油储条例进入立法调研阶段 行业提升空间巨大</a>
						</li>
					</ul>
					<ul class="viewpointNewsImg">
						<li>
							<div class="marsk">
								<a href="#">罗娟</a>
							</div>
							<a href="#"><img src="http://img3.qianzhan.com/analyst/photos/1231_180x180.gif" width="72" height="72" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">杨东</a>
							</div>
							<a href="#"><img src="http://img3.qianzhan123.com/analyst/photos/1225_180x180.gif" width="72" height="72" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">张敏</a>
							</div>
							<a href="#"><img src="http://img3.qianzhan123.com/analyst/photos/1078_180x180.gif" width="72" height="72" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">杨坤</a>
							</div>
							<a href="#"><img src="http://img3.qianzhan123.com/analyst/photos/1954_180x180.gif" width="72" height="72" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">菲菲</a>
							</div>
							<a href="#"><img src="http://img3.qianzhan123.com/analyst/photos/1228_180x180.gif" width="72" height="72" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">杨宏</a>
							</div>
							<a href="#"><img src="http://img3.qianzhan123.com/analyst/photos/201603/16151242_2632_180x180.gif" width="72" height="72" /></a>
						</li>
					</ul>
				</div>
			</div>
			<!--图片分割-->
			<div class="index-ad-006"></div>
			<div class="content">
				<div class="journal lf">
					<ul class="title">
						<li>
							<h4><a href="#">研究刊物</a><span><a href="#">更多...</a></span></h4></li>
					</ul>
					<ul class="journalList">
						<li>
							<a href="#"><img src="http://www.ocn.com.cn/uploadfile/picture/2015129103646227.jpg" width="100" height="130" /></a>
							<h5><a href="#">【产业刊物】3D打印行业06期</a></h5>
							<p>
								<a href="#">研究刊物是中智研究中心结合多年产业研究经验，使用目前较先进的产业竞争情报监测系统，每月对行业紧密跟踪监测，经过专业严格筛选，整合形成行业简版报告。</a>
							</p>
						</li>
						<li><i class="fa fa-book"></i>
							<a href="#">【05期】石墨烯或将入选十三五规划 探寻行业现状</a>
						</li>
						<li><i class="fa fa-book"></i>
							<a href="#">【04期】网络安全获互联网大会关注</a>
						</li>
						<li><i class="fa fa-book"></i>
							<a href="#">【03期】在线教育热度不减 行业高速增长依然可期</a>
						</li>
						<li><i class="fa fa-book"></i>
							<a href="#">【02期】传统产业园区发展遭遇瓶颈 智慧园区建设成趋</a>
						</li>
						<li><i class="fa fa-book"></i>
							<a href="#">【01期】油储条例进入立法调研阶段 行业提升空间巨大</a>
						</li>
					</ul>
					<ul class="journalListImg">
						<li>
							<div class="marsk">
								<a href="#">环保行业</a>
							</div>
							<a href="#"><img src="http://ms.ocn.com.cn/uploadfile/picture/20152313504354.jpg" width="80" height="100" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">高端装备</a>
							</div>
							<a href="#"><img src="http://ms.ocn.com.cn/uploadfile/picture/201523121456444.jpg" width="80" height="100" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">节能减排</a>
							</div>
							<a href="#"><img src="http://ms.ocn.com.cn/uploadfile/picture/20152313504354.jpg" width="80" height="100" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">文化行业</a>
							</div>
							<a href="#"><img src="http://ms.ocn.com.cn/uploadfile/picture/20152312427991.jpg" width="80" height="100" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">3D打印</a>
							</div>
							<a href="#"><img src="http://www.ocn.com.cn/uploadfile/report/report_1905.jpg" width="80" height="100" /></a>
						</li>
						<li>
							<div class="marsk">
								<a href="#">房地产行业</a>
							</div>
							<a href="#"><img src="http://ms.ocn.com.cn/uploadfile/picture/2015231274491.jpg" width="80" height="100" /></a>
						</li>
					</ul>
				</div>
			</div>
			<!--图片分割-->
			<div class="index-ad-007"></div>
		</div>
	</div>
</section>
{{>footer_index}} {{#contentFor "footJs"}}
<script src="dist/lib/js/jquery-1.11.1.js" type="text/javascript"></script>
<script src="dist/js/index.js" type="text/javascript"></script>
{{/contentFor}}