{{#contentFor "title"}}{{reportClassInfo.title}}_中智顾问_中智投资资讯网{{/contentFor}}
{{#contentFor "cssStyle"}}<link href="/dist/css/reports_class.css" rel="stylesheet" media="screen" type="text/css" />{{/contentFor}}
{{#contentFor "keywords"}}{{reportClassInfo.keywords}}{{/contentFor}}
{{#contentFor "description"}}{{reportClassInfo.description}}{{/contentFor}}
{{#contentFor "NavConn"}}
	<li><a href="/">首页</a></li>
	{{#each navbarMenu}}
	<li>
			<a href="/{{directoryName}}">{{subTitle}}</a>
	</li>
	{{/each}}
{{/contentFor}}
{{>head_article}}
<div class="plan">
				<div class="left">
					<ul class="crumbs" id="crumbs">
						<li>
							<a href="/"><img src="/images/logo_fnc.jpg" /></a>
						</li>
						<li>
							<a href="/reports/{{reportClassCrumbs.reports_directory}}/">{{reportClassCrumbs.sub_title}}</a>
						</li>
						<li>
							<a href="/reports/{{reportClassInfo.reports_directory}}/">{{reportClassInfo.sub_title}}</a>
						</li>
					</ul>
				</div>
		</div>
		<div class="main">
			{{>reportsMeun}}
			<div class="content">
				<div class="leftBox">
					<div class="reports-class">
						<h1>{{reportClassCrumbs.sub_title}}行业研究报告</h1>
						<h2>{{#each reportClassCrumbs.child}}<a href="/reports/{{reports_directory}}/">{{sub_title}}</a>{{/each}}</h2>
					</div>
					<ul class="reportslist">
						{{#each reportsList.data}}
						<li>
							<h3 class="title"><a href="/reports/{{report_url}}.html" target="_blank">{{#forStrColor core_keywords subTitle}}{{/forStrColor}}</a></h3>
							<a class="pic" href="/reports/{{report_url}}.html" target="_blank"><img src="http://www.ocn.com.cn/uploadfile/report/report_17650.jpg" alt="{{subTitle}}"></a>
							<div class="dec">
								<a href="/reports/{{report_url}}.html" target="_blank">{{report_summary}}...</a>
								<span class="rdate"><a href="/reports/{{report_url}}.html" target="_blank">立即订购</a></span>
							</div>
							</li>
						{{/each}}
					</ul>
					<ul class="pagination">
					<li><a href="/reports/{{reportClassInfo.reports_directory}}/{{#classPrePage reportsList.curPage reportsList.pageNum}}{{/classPrePage}}">上一页</a></li>
					{{#each reportsList.pageNum}}
					<li><a href="/reports/{{../reportClassInfo.reports_directory}}/{{this}}" {{#classCurCss ../reportsList.curPage this}} {{/classCurCss}}>{{this}}</a></li>
					{{/each}}
				<li><a href="/reports/{{reportClassInfo.reports_directory}}/{{#classNextPage reportsList.curPage reportsList.pageNum}}{{/classNextPage}}">下一页</a></li>
				<li><a>第{{reportsList.curPage}}页，共{{reportsList.pageNum.length}}页</a></li>
				</ul>
				</div>
				<div class="right">
					<img src="http://d8.sina.com.cn/pfpghc2/201612/31/427c8c37e06046e492752ba53a40e216.jpg" />
				</div>
			</div>
		</div>
{{>footer_report}}